
.header{
    width: 100%;
    height: 70vh;
    background: no-repeat center center / cover;
}

.header-content{
    width: 50%;
    color: #fff;
    height: 100%;
    position: relative;
    top: 1rem;
    left: 5%;
}

.header-content-layout{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: flex-start;
}

.header-content-layout h1{
    font-size: 3rem;
}

.header-content-layout button{
    margin: 1rem 0;
    background: #d1d0d0;
    padding: 5px 40px;
    border-radius: 10px;
    border: 1px solid black;
    font-weight: bolder;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

i{
    font-size: 1.2rem;
}

#overview{
    font-size: 1.4rem;
}

.header-content-layout button p{
    padding-left: 1rem;
}

.header-content-layou{
    font-size: 1.5rem;
}

.bottom-shadow{
    height: 200px;
    position: relative;
    bottom: 200px;
}

/* media queries */

@media (max-width: 768px){
.header-content{
    width: 90%;
}
.header-content-layout{
    justify-content: center;
    align-items: center;
}
#overview{
    font-size: 1.2rem;
}
    
}