body {
  background-color: #0d0d38;
}

#filtered-movies {
  margin-top: 8%;
}

.carrousel {
  padding: 0 2rem;
}

.carrousel-img {
  height: 150px !important;
  width: 200px !important;
}

#img-container {
  display: none;
}

.movies-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 30px;
  grid-auto-rows: minmax(100px, auto);
  margin: 1.8rem 0 2rem 1rem;
  justify-items: center;
}
.movie-content {
  height: 420px;
  width: 300px;
  transition: scale 0.5s ease;
  animation: fadeIn;
  animation-duration: 2s;
}
.movie-content:hover {
  cursor: pointer;
  scale: 1.05;
  box-shadow: 4px 7px 5px 1px rgba(0, 0, 0, 0.52);
}
.movie-content img {
  width: 100%;
  height: 100%;
}

/* media queries */

@media (max-width: 1652px) {
  .movies-container {
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
    grid-auto-rows: minmax(100px, auto);
    margin: 1.8rem 0 2rem 1rem;
  }
}

@media (max-width: 1322px) {
  .movies-container {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (max-width: 993px) {
  .movies-container {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 663px) {
  .movies-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  a {
    width: 320px !important;
  }
}
