body{
    background-color: rgb(34, 34, 34);
}
a{
    /* width: 500px !important; */
}
.header{
    width: 100%;
    height: 90vh;
    background: no-repeat center center / cover;
    z-index: -1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.header-content{
    width: 100%;
    color: #fff;
    
}

.header-content-layout{
    padding: 4rem;
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: flex-start;
    width: 20%;
}

.header-content-layout h1{
    font-size: 4rem;
}

.header-content-layout button{
    margin: 1rem 0;
    background: #d1d0d0;
    padding: 5px 60px;
    border-radius: 10px;
    border: 1px solid black;
    font-weight: bolder;
    font-size: 1.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.header-content-layout button p{
    padding-left: 1rem;
}

.header-content-layout p{
    font-size: 1.5rem;
    
}

.home-view{
    height: 80vh;
    width: 100%;
}

.bottom-shadow{
    height: 200px;
    position: relative;
    bottom: 200px;
}

.movie-type{
    margin: 0 0 0 3rem;
    font-size: 2rem;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 600;
    color: #fff;
}
.movies-container{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 30px;
    grid-auto-rows: minmax(100px, auto);
    margin: 1.8rem 0 2rem 1rem;
    justify-items: center;
}
.movie-content{
    height: 420px;
    width: 300px;
    transition: scale .5s ease;
}
.movie-content:hover{
    cursor: pointer;
    scale: 1.05;
    box-shadow: 4px 7px 5px 1px rgba(0,0,0,0.52);
}
.movie-content img{
    width: 100%;
    height: 100%;
}

/* media queries */

@media (max-width: 1652px){
    .movies-container{
        grid-template-columns: repeat(4, 1fr);
        gap: 30px;
        grid-auto-rows: minmax(100px, auto);
        margin: 1.8rem 0 2rem 1rem;
    }
}

@media (max-width: 1322px){
    .movies-container{
        grid-template-columns: repeat(3, 1fr);
    }
}
@media (max-width: 993px){
    .movies-container{
        grid-template-columns: repeat(2, 1fr);
    }
}
@media (max-width: 663px){
     .movies-container{
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    }
    .movie-content{
        margin: 0 6rem 0 2rem
    }
}



